@inherits LayoutComponentBase
@inject NavigationManager NavigationManager


    <div class="background-container"></div>


<div class="main-layout">
    <NavMenu />
    <div class="main-content">
        @Body
    </div>
</div>

@code {
    private bool IsIndexPage;

    protected override void OnInitialized()
    {
        var path = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).ToLower();
        IsIndexPage = string.IsNullOrWhiteSpace(path) || path == "index";
    }
}
