/* Applied red & black theme automatically */
body {
  background: linear-gradient(to bottom, #000000, #1a0000);
  color: white;
  font-family: 'Segoe UI', sans-serif;
}


.admin-container {
    background: linear-gradient(to bottom, #1a0000000, #1a0000); rgba(50, 50, 50, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.5);
    width: 80%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    border: 2px solid #ff6600;
}

.admin-container h3 {
    color: #ff6600;
    text-shadow: 0 0 10px #ff6600;
}
