@page "/"

<head>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/Background.css">
</head>
<div class="background-container">
    <img src="Pictures/goofyahhrave.jpg" alt="Goofy Ahh Rave Poster" class="fullscreen-bg" />
</div>

<style>
    .background-container {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .fullscreen-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        z-index: -1;
    }
</style>
